<div class="questions-and-answers-component">
<div class="questions-and-answers-container">
<h2 class="page-context-header-text"><strong> Q&A </strong></h2><br>

<h3>My Files</h3>
<p>
<strong>I've updated from an earlier version of the app and i can not locate my work, What should i do?</strong>
</p>
<p>
When updating from version 2.3 or earlier to version 3.2.0 or later your work is synced automatically to the cloud, If you still can not locate your work.. Go to the Home or User profile page and sync your work from the top menu.
<br>A) <mark>Home -> Menu -> Sync local database</mark>
<br>B) <mark>User profile -> Menu -> Sync local database</mark>
</p>

<br>
<br>
<br>
<p>
<strong>I've accidentally deleted an Album, Book, Or Song. Is there a way to recover it?</strong>
</p>
<p>
If you've deleted an Album, Book, Or a Song you can easily recover it by going to the trash and restoring it.<br><br>
<mark>Note : When restoring Book chapters, They are restored to a new book in the Poems category with the title "Book not named", And when restoring Album or mixtape songs, They are restored to the "Others" category.</mark>
</p>

<br>
<br>
<br>
<p>
<strong>Im trying to free up space, I've deleted Songs, Albums, Books, But my count remains the same. What should i do?</strong>
</p>
<p>
When removing or deleting files they are moved to the trash, If you wish to free up space you can delete files from the Trash by hitting the "Empy trash" button or deleting a specific file by hit the more option and deleting that file.
<br><br><mark>Note : Once a file has been deleted from the Trash, It can not be recovered again.</mark>
</p><br>

<br>
<br>
<br>
<h2>Account and Subscriptions</h2>
<p>
<strong>Does deleting my account also delete all of my work?</strong>
</p>
<p>
Yes. When deleting your account all of your data is deleted as well.
<br><br><mark>Note : Once an account has been deleted, It can not be recovered again.</mark>
</p>


<br>
<br>
<br>
<p>
<strong>I've deleted my account, Why am i still being charged for a subscription?</strong>
</p>
<p>
Deleting your account does not cancel any subscription you may have. If you wish to cancel a subscription you must do it manually from inside of the Google Play Store app.
<mark>Google Play Store -> Menu -> Subscriptions -> Manage -> Cancel subscription</mark>
</p>

<br>
<br>
<br>
<p>
<strong>I can't seem to delete my account, What should i do?</strong>
</p>
<p>
If you can not delete your account try to authenticate again by signing out and signing back in.
</p>

<br>
<br>
<br>
<p>
<strong>I can't seem to sign out or sign in, What should i do?</strong>
</p>
<p>
A first time sign in, And signing out requires a Network connection. If you are having trouble make sure that you have a connection and try again.
</p>

<br><br><br><br>
<p><strong class="highlighted-text">If you are having any other problems feel free to contact us by sending us feedback trough the App's Settings page.</strong></p>
</div>
</div>