.questions-and-answers-container{
	padding: 25px;
	margin-top:80px;
	margin-bottom:50px;
}

.highlighted-text{
	color: #1675d1;
}

mark{
    background: #1675d1;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
.questions-and-answers-container{
	margin-top:140px;
}
}
