<div class="page-context-div">
	<div class="full-description">
	<h3><strong>And that's not all</strong></h3>
	<p class="p-title"><strong>There many more features that are pretty cool</strong></p>
	<p>Check out the list below for more features</p><br><br>
	
	<img src="./assets/profile-white.png" class="full-description-img">
	<p class="p-title"><strong>Manage profile</strong></p> <p>Add your skills and the fields you work in,<br>
	Manage your email and more.</p><br><br>
	
	<img src="./assets/mic-white.png" class="full-description-img">
	<p class="p-title"><strong>Voice Recorder</strong></p> <p>Record voice melodies and instruments,<br>
	Save and listen while your writing.</p><br><br>

	<img src="./assets/music-files-white.png" class="full-description-img">
	<p class="p-title"><strong>Add Music</strong></p> <p>Add instrumentals or music from your device <br>
	and listen while writing your next hit.</p><br><br>

	<img src="./assets/sort-white.png" class="full-description-img">
	<p class="p-title"><strong>Sort your work</strong></p> <p>Sort list of songs, album, mix tapes and books<br>
	in alphabetical order or by date to find files faster and easier.</p><br><br>
	
	<img src="./assets/favorite-white.png" class="full-description-img">
	<p class="p-title"><strong>Favorites</strong></p> <p>Add your favorite files to the favorites<br>
	and access them them later.</p><br><br>

	<img src="./assets/edit-white.png" class="full-description-img">
	<p class="p-title"><strong>Edit mode</strong></p> <p>Switch to Edit mode<br> when you want to edit your next hit song.
	<br></p><br><br>
	
	<img src="./assets/view-white.png" class="full-description-img">
	<p class="p-title"><strong>View mode</strong></p> <p>Switch to View mode
	<br> when you want to get rid of the keyboard and rehearse.</p><br><br>

	<img src="./assets/text-align-white.png" class="full-description-img">
	<p class="p-title"><strong>Text Alignment</strong></p><p>Change text alignment to left, 
	right and center when in Edit and View mode to.</p><br>
	
	<img src="./assets/search-white.png" class="full-description-img">
	<p class="p-title"><strong>Search</strong></p> <p>Search for files you cant find<br>
	with just one click.</p><br><br>
	</div>
</div>