<div class="page-context-div">
	<div class="full-description">
	<h3>And that's not all</h3>
	<h4>There many more features that are pretty cool</h4>
	<h4>Check out the list below for more features</h4><br><br>
	
	<img src="./assets/profile-blue.png" class="full-description-img">
	<h4>Manage profile</h4> <p>Add your skills and the fields you work in,<br>
	Manage your email and more.</p><br><br>
	
	<img src="./assets/mic-blue.png" class="full-description-img">
	<h4>Voice Recorder</h4> <p>Record voice melodies and instruments,<br>
	Save and listen while your writing.</p><br><br>

	<img src="./assets/music-files-blue.png" class="full-description-img">
	<h4>Add Music</h4> <p>Add instrumentals or music from your device <br>
	and listen while writing your next hit.</p><br><br>

	<img src="./assets/sort-blue.png" class="full-description-img">
	<h4>Sort your work</h4> <p>Sort list of songs, album, mix tapes and books<br>
	in alphabetical order or by date to find files faster and easier.</p><br><br>
	
	<img src="./assets/favorite-blue.png" class="full-description-img">
	<h4>Favorites</h4> <p>Add your favorite files to the favorites<br>
	and access them them later.</p><br><br>

	<img src="./assets/edit-blue.png" class="full-description-img">
	<h4>Edit mode</h4> <p>Switch to Edit mode<br> when you want to edit your next hit song.
	<br></p><br><br>
	
	<img src="./assets/view-blue.png" class="full-description-img">
	<h4>View mode</h4> <p>Switch to View mode
	<br> when you want to get rid of the keyboard and rehearse.</p><br><br>

	<img src="./assets/text-align-blue.png" class="full-description-img">
	<h4>Text Alignment</h4><p>Change text alignment to left, 
	right and center when in Edit and View mode to.</p><br>
	
	<img src="./assets/search-blue.png" class="full-description-img">
	<h4>Search</h4> <p>Search for files you cant find<br>
	with just one click.</p><br><br>
	</div>
</div>