/* h4 p text style */
h3,h4,p{
	text-align: center;
}
/* h4 p text style */


.full-description-img{
	width: 40px;
	height: 40px;
	display: block;
	margin: auto;
} 

/* Container style */
.page-context-div{
	padding-top:25px;
	padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
	position:relative;
	
}
.full-description{
	display:block;
	margin: auto;
}
/* Container style */

