<div class="my-container">
<nav>
    <a routerLink="/home" class="nav-item nav-link" routerLinkActive="active"><strong> Home </strong></a>
    <a routerLink="/privacy-policy" class="nav-item nav-link" routerLinkActive="active"><strong> Privacy policy </strong></a>
    <a routerLink="/terms-of-service" class="nav-item nav-link" routerLinkActive="active"><strong> Terms of service </strong></a>
    <a routerLink="/questions-and-answers" class="nav-item nav-link" routerLinkActive="active"><strong> Q&A </strong></a>
</nav>
<router-outlet></router-outlet>
<app-app-footer></app-app-footer>	
</div>


