nav{
	width: 100%;
	background: #0f1d71;
    position: fixed;
    top:0px;
    z-index: 1;
}

a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 2px;
}

.fa:hover{
	background: #0f1d71;
	color:#fff;
	text-shadow: 0 0 16px #fff;
}
 
nav a:visited, a:link{
	color: white;
}

nav a:hover{
   color: #0f1d71;
   background:#fff;
}

nav a.active{
	color: #0f1d71;
	background:white;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
a{
  padding: 20px 8px;
  font-size: 14px;
}
}
