nav{
	width: 100%;
	background: #0f1d71;
    position: fixed;
    z-index: 1;
}

a{
  padding: 25px 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  color: #fff;
}

.fa:hover{
	background: #0f1d71;
	color:#fff;
	text-shadow: 0 0 16px #fff;
}
 
nav a:visited, a:link{
	color: #fff;
}

nav a:hover{
   color: #0f1d71;
   background:#fff;
}

nav a.active{
	color: #0f1d71;
	background:#fff;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
a{
  padding: 15px 3px;
}
}
