/* Header cover */
.install-app-cover{
	height: 450px;
	background: #0f1d71;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.install-container{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
}
/* Header cover */


/* h1 text style */
h1,h3{
	color:white;
  	text-align: center;
}
/* h1 text style */

/* Custom btn style */
.custom-button{
    width: 15%;
    height: 45px;
    display:block;
	background: #1675d1;
	font-weight: bold;
	color: white;
	border-radius: 25px;
    border: 0px;
    margin: auto;
}

.custom-button:hover{
	background: #fff;
    color: #1675d1;
}
/* Custom btn style */


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 667.98px) { 
.custom-button{
	width: 50%;
}
}

@media (max-width: 967.98px) { 
.custom-button{
	width: 30%;
}
}