.sort-desction-cover{
	padding-top:25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
	position:relative;
}

.short-description-img{
	width: 80px;
	height: 80px;
	display: block;
	margin: auto;
}

/* h4 p text style */
h3,h4,p{
	text-align: center;
}
/* h4 p text style */


/* Container style */
#short-description{
	display:block;
	margin: auto;
}
/* Container style */

