<div class="sort-desction-cover">
	<div id="short-description">
    <h3>Change the way you write lyrics, WithAP - Lyricpad</h3>
	<h4>Check out some of the key features..</h4><br><br><br>
	
	<div class="row context-table-row">
    <div class="col-sm row-col page-context-header-text">
		<img src="./assets/web_icon-new_ideas.png" class="short-description-img">
		<br><h4>Add new ideas</h4>
		<p>Add new ideas with a click of a button <br>no matter where you are.</p>
	</div>
    <div class="col-sm row-col page-context-header-text">
		<img src="./assets/web_icon-sync.png" class="short-description-img">
		<br><h4>Sync to cloud</h4>
		<p>Save your work to the cloud <br>and access from all of your android devices.</p>
	</div>
    </div>
	
	<div class="row context-table-row">
    <div class="col-sm row-col page-context-header-text">
		<img src="./assets/web_icon_share.png" class="short-description-img">
		<br><h4>Share lyrics</h4>
		<p>Share your lyrics with your friends <br> and coworkers.</p>
	</div>
    <div class="col-sm row-col page-context-header-text">
		<img src="./assets/web_icon-organize.png" class="short-description-img">
		<br><h4>Stay organized</h4>
		<p>Keep your work sorted and organized <br> to fit your needs.</p>
	</div>
    </div>
   </div>
</div>