<div class="sort-desction-cover">
	<div id="short-description">
	<h3><strong>Change the way you write lyrics,<br>With AP - Lyricpad</strong></h3>
	<p>Check out some of the key features..</p><br><br><br>
	
	<div class="row context-table-row">
    <div class="col-sm row-col page-context-header-text">
		<img src="./assets/web_icon-new_ideas.png" class="short-description-img">
		<br><p class="p-title"><strong>Add new ideas</strong></p>
		<p>Add new ideas with a click of a button <br>no matter where you are.</p>
	</div>
    <div class="col-sm row-col page-context-header-text">
		<img src="./assets/web_icon-sync.png" class="short-description-img">
		<br><p class="p-title"><strong>Sync to cloud</strong></p>
		<p>Save your work to the cloud <br>and access from all of your android devices.</p>
	</div>
    </div>
	
	<div class="row context-table-row">
    <div class="col-sm row-col page-context-header-text">
		<img src="./assets/web_icon_share.png" class="short-description-img">
		<br><p class="p-title"><strong>Share lyrics</strong></p>
		<p>Share your lyrics with your friends <br> and coworkers.</p>
	</div>
    <div class="col-sm row-col page-context-header-text">
		<img src="./assets/web_icon-organize.png" class="short-description-img">
		<br><p class="p-title"><strong>Stay organized</strong></p>
		<p>Keep your work sorted and organized <br> to fit your needs.</p>
	</div>
    </div>
   </div>
</div>