<div class="my-footer">	
	<div class="footer-container">
		<h3>Connect with us</h3><br>
		<a href="https://www.facebook.com/aplyricpad/" target="blank" class="fa fa-facebook"></a>
		<a href="https://www.instagram.com/aplyricpad/" target="blank" class="fa fa-instagram"></a>
        
        <h3>Avalible on Google Play</h3>
        <button (click)="openAppInGooglePlay()" class="custom-button">Download</button>
	</div>
		<!--Copyright-->
    <div class="footer-copyright-container">
		<p class="footer-copyright">All rights reserved to <Strong>Artist Pad.</Strong></p>
        <p class="footer-copyright">© 2018 Copyright aplyricpad.com </p>
    </div>
    <!--/Copyright-->
</div>
